/* General */
:root {
    --black: #000000;
    --nav-btn-bg: #363636;
}

html {
    font-size: 100%;
    font-family: Helvetica, arial, sans-serif;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    color: var(--black);
}

/* Header */
header .nav-top {
    background-color: var(--black);
}

header .nav-top svg {
    height: 15px;
}

header .nav-bottom {
    height: 60px;
}

header img.lens {
    height: 25px;
}

header .navbar li a>img {
    height: 10px;
}

header .nav-bottom .my_btn {
    font-size: 1rem;
    background-color: var(--nav-btn-bg);
}